<%- include('partials/header') %>
  <div class="contact_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"
                style="border: none; color: #000; font-size: 18px; text-align: center; height: 100%; width: 100%; ">Most
                Viewed</li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"
                style="border: none; color: #000; font-size: 18px; text-align: center; height: 100%; width: 100%;">Most
                Liked</li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
              </div>
              <div class="carousel-item">
                
                <!-- Top 5 Most Viewed Articles Section -->
                <div class="container mt-5">
                  <h2>Top 5 Most Viewed Articles</h2>
                  <ul class="list-group">
                    <% topViewedArticles.forEach(function(article) { %>
                      <li class="list-group-item">
                        <h3><a href="/<%= article.name %>">
                            <%= article.name %>
                          </a></h3>
                        <p>Views: <%= article.views %>
                        </p>
                        <p>Author: <%= article.author %>
                        </p>
                      </li>
                      <% }); %>
                  </ul>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer_section layout_padding">
    <div class="container">
      <div class="footer_logo"><a href="index.html"><img src="images/footer-logo.png"></a></div>
      <div class="footer_menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/">contact us</a></li>
        </ul>
      </div>
      <div class="contact_menu">
        <ul>
          <li><a href="#"><img src="images/call-icon.png"></a></li>
          <li><a href="#">Call : +92 1234567890</a></li>
          <li><a href="blog.html"><img src="images/mail-icon.png"></a></li>
          <li><a href="features.html">saif.ullah.22044@gmail.com</a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- footer section end -->
  <!-- copyright section start -->
  <div class="copyright_section">
    <div class="container">
      <p class="copyright_text">Copyright 2020 All Right Reserved By.</p>
    </div>
  </div>
  <%- include('partials/footer') %>
  <!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $('#carouselExampleIndicators').carousel();
    });
</script>
